#test{
    display: none;
    flex-direction: column;
}
img{
    width: 100px;
    border: 3px solid rgb(202, 213, 202);
}
.sai{
    display: grid;
    grid-column: auto;
    grid-template-columns: 16px;
   position: absolute;
   left: 200px;
}
.sai1{
   width: 20px;
    background-color: red;
    border: none;
    outline: none;
     border-top-left-radius: 8px;
     border-bottom-left-radius: 32px;
     border-bottom-right-radius: 32px;
     border-top-right-radius: 8px;
    position: fixed;
    left: 240px;
    top: 100px;
   display: none;
}
.test{
    border: 5px solid green;
    width: 170px;
    height: 40px;

}
.wire{
    position: absolute;
    left: 60px;
    top: 92px;
   
    
}